.container {
    margin: auto;

    min-width: 30em;
    max-width: 40em;
}
.yahtzee {
    display: flex;
    flex-direction: column;
}

.yahtzee > div {
    margin: 1em;
}

.yahtzee .dices {
    display: flex;
    justify-content: space-around;
}

.yahtzee .dice {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    height: 1.5cm;
    width: 1.5cm;
    font-size: 1.5em;
}

.yahtzee .dice.face-1::before {
    content: "1";
}

.yahtzee .dice.face-2::before {
    content: "2";
}

.yahtzee .dice.face-3::before {
    content: "3";
}

.yahtzee .dice.face-4::before {
    content: "4";
}

.yahtzee .dice.face-5::before {
    content: "5";
}

.yahtzee .dice.face-6::before {
    content: "6";
}

.yahtzee .scores table {
    border-collapse: collapse;
    border: 2px solid black;
    table-layout: fixed;
    width: 100%;
}

.yahtzee .scores th, .yahtzee .scores td {
    padding: .4em;
    border: 1px solid black;
}

/* first row with the names */
.yahtzee .scores tr:nth-child(1) th {
    font-weight: bold;
    border-bottom-width: 2px;
}

/* first column with the categories */
.yahtzee .scores tr td:nth-child(1), .yahtzee .scores tr th:nth-child(1) {
    font-weight: bold;
    border-right-width: 2px;
    width: 10em;
}

/* separator between upper and lower sections */
.yahtzee .scores tr:nth-child(8) td {
    border-bottom-width: 2px;
}

/* separator above Total */
.yahtzee .scores tr:nth-child(15) td {
    border-bottom-width: 2px;
}

