body {
  margin: 0;
}

#root {
  margin: auto;
}

@media (min-width: 30em) {
  #root {
    max-width: 40em;
  }
}

.menu {
  display: flex;

  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
}

.menu .actions {
  display: flex;
  flex-direction: row;
}

.menu .actions .button {
  border: 1px solid black;
  border-radius:  1.5em;
  padding: .5em 1em;
  margin-right: .5em;
}

.menu .player {
  text-align: right;
}

.menu .icon {
  background-repeat: no-repeat;
  background-size: cover;
  height: 1em;
  width: 1em;
}

.menu .icon.share {
  background-image: url("/share.png");
}

.menu .icon.clipboard {
  background-image: url("/clipboard.png");
}


.menu .icon.clipboard.copied {
  background-image: url("/clipboard-copied.png");
}

.actionable {
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.yahtzee {
  display: flex;
  flex-direction: column;
}

.yahtzee > div {
  margin: 1em 0;
}

.yahtzee .dices {
  display: flex;
  justify-content: space-around;
}

.yahtzee .dice {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed black;
  border-radius: .5em;
  height: 1.5cm;
  width: 1.5cm;
  font-size: 1.5em;
}

.yahtzee .dice.rolling::before {
  content: url("/dice/roll.svg");
  width: 90px;
  height: 90px;
}

.yahtzee .dice.face-1::before {
  content: url("/dice/face-1.svg");
  width: 90px;
  height: 90px;
}

.yahtzee .dice.face-2::before {
  content: url("/dice/face-2.svg");
  width: 90px;
  height: 90px;
}

.yahtzee .dice.face-3::before {
  content: url("/dice/face-3.svg");
  width: 90px;
  height: 90px;
}

.yahtzee .dice.face-4::before {
  content: url("/dice/face-4.svg");
  width: 90px;
  height: 90px;
}

.yahtzee .dice.face-5::before {
  content: url("/dice/face-5.svg");
  width: 90px;
  height: 90px;

}

.yahtzee .dice.face-6::before {
  content: url("/dice/face-6.svg");
  width: 90px;
  height: 90px;
}

.yahtzee .dice.locked {
  border-style: solid;
}

.yahtzee .controller {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.yahtzee .controller .roll.counter {
}

.yahtzee .controller .roll.counter {
  width: 12em;
  height: 1.5em;
  display: grid;
  column-gap: 1px;
  grid-template-columns: 1fr 1fr 1fr;
}

/* background of the bits - 200% width, left side is blue, right is opaque
   right side shows by default, when active shows the left side */
.yahtzee .controller .roll.counter div {
  float: left;
  background: linear-gradient(to right, rgba(189, 233, 255, 1) 50%, rgba(0, 0, 0, 0) 50%);
  background-size: 200% 100%;
  background-position:right bottom;
}

/* animation for the roll class changes (otherwise it"s instantaneous) */
.yahtzee .controller .roll.counter.roll-1 div:nth-child(1),
.yahtzee .controller .roll.counter.roll-2 div:nth-child(2),
.yahtzee .controller .roll.counter.roll-3 div:nth-child(3) {
  transition:all .05s ease-in;
}

.yahtzee .controller .roll.counter.roll-1 div:nth-child(1),
.yahtzee .controller .roll.counter.roll-2 div:nth-child(1),
.yahtzee .controller .roll.counter.roll-3 div:nth-child(1) {
  background-position: left bottom;
  border-top-left-radius: .75em;
  border-bottom-left-radius: .75em;
}

.yahtzee .controller .roll.counter.roll-2 div:nth-child(2),
.yahtzee .controller .roll.counter.roll-3 div:nth-child(2) {
  background-position: left bottom;
}

.yahtzee .controller .roll.counter.roll-3 div:nth-child(3) {
  background-position: left bottom;
  border-top-right-radius: .75em;
  border-bottom-right-radius: .75em;
}

.yahtzee .controller .roll.button {
  border: 2px solid black;
  padding: .5em 2em;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.yahtzee .controller .roll.button.disabled {
  cursor: not-allowed;
}

.yahtzee .scores table {
  border: 2px solid black;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

.yahtzee .scores thead {
  height: 2.5em;
}

.yahtzee .scores th, .yahtzee .scores td {
  padding: .4em;
  border: 1px solid black;
  text-align: center;
}

.yahtzee .scores td.scored {
  animation-name: scored-pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes scored-pulse {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: yellow;
  }
  100% {
    background-color: transparent;
  }
}

/* first row with the names */
.yahtzee .scores tr:nth-child(1) th {
  font-weight: bold;
  border-bottom-width: 2px;
}

/* first column with the categories */
.yahtzee .scores td:nth-child(1), .yahtzee .scores th:nth-child(1) {
  font-weight: bold;
  border-right-width: 2px;
  width: 10em;
}

/* separator between upper and lower sections */
.yahtzee .scores tr:nth-child(7) td {
  border-bottom-width: 2px;
}

/* separator above Total */
.yahtzee .scores tr:last-child td {
  border-top-width: 2px;
  font-weight: bold;
}

.yahtzee .scores .current-player {
  background-color: #f0faff;
}

.yahtzee .scores .suggestion {
  color: #aaa;
  font-style: italic;
}

.yahtzee .scores td.selected {
  background-color: #b3e5ff;
}

.yahtzee .scores .winner::before {
  content: "🏆 ";
}
