.Controller {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.RollCounter {
}

.RollCounter {
  width: 12em;
  height: 1.5em;
  display: grid;
  column-gap: 1px;
  grid-template-columns: 1fr 1fr 1fr;
}

/* background of the bits - 200% width, left side is blue, right is opaque
   right side shows by default, when active shows the left side */
.RollCounter div {
  float: left;
  background: linear-gradient(to right, hsla(194, 40%, 20%, .3) 50%, hsla(194, 0%, 0%, 0) 50%);
  background-size: 200% 100%;
  background-position:right bottom;
}

/* animation for the roll class changes (otherwise it's instantaneous) */
.RollCounter[data-roll="1"] div:nth-child(1),
.RollCounter[data-roll="2"] div:nth-child(2),
.RollCounter[data-roll="3"] div:nth-child(3) {
  transition:all .05s ease-in;
}

.RollCounter[data-roll="1"] div:nth-child(1),
.RollCounter[data-roll="2"] div:nth-child(1),
.RollCounter[data-roll="3"] div:nth-child(1) {
  background-position: left bottom;
  border-top-left-radius: .75em;
  border-bottom-left-radius: .75em;
}

.RollCounter[data-roll="2"] div:nth-child(2),
.RollCounter[data-roll="3"] div:nth-child(2) {
  background-position: left bottom;
}

.RollCounter[data-roll="3"] div:nth-child(3) {
  background-position: left bottom;
  border-top-right-radius: .75em;
  border-bottom-right-radius: .75em;
}