.Content {
  grid-area: content;

  margin: 3em 0;

  display: flex;
  flex-direction: column;

  width: clamp(1em, 100%, 40em);
}

.Content a {
  text-decoration: none;
  font-weight: 500;
  color: hsla(194, 0%, 0%, 1);
}

.Content a:hover {
  text-decoration: none;
  color: hsla(194, 0%, 40%, 1);
}

.Main {
  padding: 0 1.5em;
}