.Home {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr auto;
  row-gap: 2em;
}

.Home button {
  width: 100%;
}

.Main {
  align-self: center;
}

.Footer {
  font-size: .8em;
}

.Footer ul {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Footer li {
  list-style-type: none;
}