.Home button {
  width: 100%;
}

.Main {
}

.Footer {
  margin: 4em 0;
  font-size: .8em;
}

.Footer ul {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Footer li {
  list-style-type: none;
}