.Home ul {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Home ul li {
  list-style-type: none;
}

.Home button {
  width: 100%;
}

.Home div:last-child {
  margin: 4em 0;
  font-size: .8em;
}