.yahtzee {
    display: flex;
    flex-direction: column;
}

.yahtzee > div {
    margin: 1em;
}

.yahtzee .dices {
    display: flex;
    justify-content: space-around;
}

.yahtzee .dice {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px double black;
    height: 1.5cm;
    width: 1.5cm;
    font-size: 1.5em;
}

.yahtzee .dice.face-1::before {
    content: "1";
}

.yahtzee .dice.face-2::before {
    content: "2";
}

.yahtzee .dice.face-3::before {
    content: "3";
}

.yahtzee .dice.face-4::before {
    content: "4";
}

.yahtzee .dice.face-5::before {
    content: "5";
}

.yahtzee .dice.face-6::before {
    content: "6";
}

.yahtzee .dice.locked {
    border: 2px solid black;
}

.yahtzee .controller {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.yahtzee .controller .roll.counter {
    width: 12em;
}

.yahtzee .controller .roll.button {
    border: 2px solid black;
    padding: .5em 2em;
    border-radius: .5em;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.yahtzee .scores table {
    border-collapse: collapse;
    border: 2px solid black;
    table-layout: fixed;
    width: 100%;
}

.yahtzee .scores th, .yahtzee .scores td {
    padding: .4em;
    border: 1px solid black;
    text-align: center;
}

/* first row with the names */
.yahtzee .scores tr:nth-child(1) th {
    font-weight: bold;
    border-bottom-width: 2px;
}

/* first column with the categories */
.yahtzee .scores td:nth-child(1), .yahtzee .scores th:nth-child(1) {
    font-weight: bold;
    border-right-width: 2px;
    width: 10em;
}

/* separator between upper and lower sections */
.yahtzee .scores tr:nth-child(7) td {
    border-bottom-width: 2px;
}

/* separator above Total */
.yahtzee .scores tr:last-child td {
    border-top-width: 2px;
    font-weight: bold;
}

.yahtzee .scores td.current-player {
    background-color: #f0faff;
}

.yahtzee .scores .suggestion {
    color: #aaa;
    font-style: italic;
}

.yahtzee .scores td.selected {
    background-color: #b3e5ff;
}

.yahtzee .player {
    text-align: right;
}

.yahtzee .actionable {
    cursor: pointer;
}
